<!DOCTYPE html>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">

<html>
  <head>
    <title>Some title</title>
  </head>

  <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/static/js/main.js"></script>

  <body>
    <h2>SyriaHR database search</h2>
    Enter a search query: <input id="search-box" type="text" /><button id="search-button">search</button>
    <br />
    Result:<br /><br /><span id="result">please search first...</span>
  </body>
</html>